.Rhistory
terradactyl_tool.Rproj
.Rproj.user
testing_ldc_lpi_data_renamedvars.csv
rsconnect/rs.jrn.nmsu.edu/nstauffe@jrn.nmsu.edu/terradactyl_tool.dcf
help_files/libs/bootstrap/bootstrap-icons.css
help_files/libs/bootstrap/bootstrap-icons.woff
help_files/libs/bootstrap/bootstrap.min.css
help_files/libs/clipboard/clipboard.min.js
help_files/libs/bootstrap/bootstrap.min.js
help_files/libs/quarto-html/anchor.min.js
help_files/libs/quarto-html/popper.min.js
help_files/libs/quarto-html/quarto-syntax-highlighting.css
help_files/libs/quarto-html/quarto.js
help_files/libs/quarto-html/tippy.css
help_files/libs/quarto-html/tippy.umd.min.js
terradactyl_testing_data_20220913.zip
testing_bad_species_data.csv
instructions_files/libs/bootstrap/bootstrap-icons.css
instructions_files/libs/bootstrap/bootstrap.min.css
instructions_files/libs/bootstrap/bootstrap.min.js
instructions_files/libs/clipboard/clipboard.min.js
instructions_files/libs/bootstrap/bootstrap-icons.woff
instructions_files/libs/quarto-html/anchor.min.js
instructions_files/libs/quarto-html/popper.min.js
instructions_files/libs/quarto-html/quarto-syntax-highlighting.css
instructions_files/libs/quarto-html/quarto.js
instructions_files/libs/quarto-html/tippy.css
instructions_files/libs/quarto-html/tippy.umd.min.js
testing_minimum_gap_data.csv
testing_minimum_height_data.csv
testing_minimum_lpi_data.csv
testing_minimum_soil_data.csv
www/hit_type_figure.xcf
test_gdb.zip
test_geodatabase.gdb/a00000001.gdbindexes
test_geodatabase.gdb/a00000001.gdbtable
test_geodatabase.gdb/a00000001.gdbtablx
test_geodatabase.gdb/a00000001.TablesByName.atx
test_geodatabase.gdb/a00000002.gdbtable
test_geodatabase.gdb/a00000002.gdbtablx
test_geodatabase.gdb/a00000003.gdbindexes
test_geodatabase.gdb/a00000003.gdbtable
test_geodatabase.gdb/a00000003.gdbtablx
test_geodatabase.gdb/a00000004.CatItemsByPhysicalName.atx
test_geodatabase.gdb/a00000004.CatItemsByType.atx
test_geodatabase.gdb/a00000004.FDO_UUID.atx
test_geodatabase.gdb/a00000004.gdbindexes
test_geodatabase.gdb/a00000004.gdbtable
test_geodatabase.gdb/a00000004.gdbtablx
test_geodatabase.gdb/a00000004.horizon
test_geodatabase.gdb/a00000004.spx
test_geodatabase.gdb/a00000005.CatItemTypesByName.atx
test_geodatabase.gdb/a00000005.CatItemTypesByParentTypeID.atx
test_geodatabase.gdb/a00000005.CatItemTypesByUUID.atx
test_geodatabase.gdb/a00000005.gdbindexes
test_geodatabase.gdb/a00000005.gdbtable
test_geodatabase.gdb/a00000005.gdbtablx
test_geodatabase.gdb/a00000006.CatRelsByDestinationID.atx
test_geodatabase.gdb/a00000006.CatRelsByOriginID.atx
test_geodatabase.gdb/a00000006.CatRelsByType.atx
test_geodatabase.gdb/a00000006.FDO_UUID.atx
test_geodatabase.gdb/a00000006.gdbindexes
test_geodatabase.gdb/a00000006.gdbtable
test_geodatabase.gdb/a00000006.gdbtablx
test_geodatabase.gdb/a00000007.CatRelTypesByBackwardLabel.atx
test_geodatabase.gdb/a00000007.CatRelTypesByDestItemTypeID.atx
test_geodatabase.gdb/a00000007.CatRelTypesByForwardLabel.atx
test_geodatabase.gdb/a00000007.CatRelTypesByName.atx
test_geodatabase.gdb/a00000007.CatRelTypesByOriginItemTypeID.atx
test_geodatabase.gdb/a00000007.CatRelTypesByUUID.atx
test_geodatabase.gdb/a00000007.gdbindexes
test_geodatabase.gdb/a00000007.gdbtable
test_geodatabase.gdb/a00000007.gdbtablx
test_geodatabase.gdb/a00000009.gdbindexes
test_geodatabase.gdb/a00000009.gdbtable
test_geodatabase.gdb/a00000009.gdbtablx
test_geodatabase.gdb/a00000009.horizon
test_geodatabase.gdb/a00000009.spx
test_geodatabase.gdb/a0000000a.gdbindexes
test_geodatabase.gdb/a0000000a.gdbtable
test_geodatabase.gdb/a0000000a.gdbtablx
test_geodatabase.gdb/a0000000a.horizon
test_geodatabase.gdb/a0000000a.spx
test_geodatabase.gdb/gdb
test_geodatabase.gdb/timestamps
test_shapefiles.zip
test_shapefiles_bad.zip
jer_boundary.zip
www/busy_icon.svg
www/busy_icon_flicker.svg
www/busy_icon_pulse.svg
www/test_animated_svg.svg
sage_species.csv
Watersheds.zip
test_geodatabase.gdb/a00000001.freelist
test_geodatabase.gdb/a00000004.freelist
www/combined_logos.svg
*.dcf
*.ai
scratchpad.R
www/combined_logos_hires_old.png
www/combined_logos_tall.png
testing_ldc_lpi_data_reduced.csv
www/ldc_logo.png
testing_ldc_lpi_data_reduced.csv
Watersheds.zip
www/DataCommons_logo_2020-02-06_gradient.ai
*.freelist
*.dcf
